<footer class="site-footer">

  <div class="wrapper">
    <div class="social-links">
      <a class="social-link social-github" target="_blank" href="https://github.com/huriphoonado">
        <i class="icon-github"></i>
      </a>
      <a class="social-link social-twitter" target="_blank" href="https://twitter.com/alexruthmann">
        <i class="icon-twitter"></i>
      </a>
    </div>
    <div class="credits">
      <a href="https://musedlab.org" target="_blank">NYU Music Experience Design Lab</a>
    </div>
  </div>

</footer>
